#confirm-message {
  display: none;
  margin: 20px auto;
}

#call-number {
  width: 100px;
}

.instruction {
  font-style: italic;
}

#search-result-here {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  width: 500px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  padding: 6px 12px;
}